.toc-icon {
    position: fixed;
    top: 0;
    right: 0;
}

#toc:checked ~ .toc {
    transform: translateX(0);
}

.toc {
    transform: translateX(-100%);
}

.toc.toc-right {
    transform: translateX(150%);
    right: 0;
}

.is-active-link::before {
    background-color: var(--focus)
}

@media (min-width: 52em) {
    .toc {
        transform: translateX(0);
    }

    .toc.toc-right {
        transform: translateX(0);
        right: calc((100% - 70rem - 4rem) / 2);
    }

    .toc-icon {
        display: none;
    }

    .try-it-container {
        display: block;
    }

    .content {
        margin-left: 280px;
    }

    .toc-right ~ .content {
        margin-left: 0;
        margin-right: 280px;
    }
}