<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" type="image/png" href="/favicon.png" sizes="256x256">
    <link type="text/css" rel="stylesheet" title="Système" th:href="@{webjars/water.css/out/water.min.css}"/>
    <link type="text/css" rel="stylesheet" title="Sombre" th:href="@{webjars/water.css/out/dark.min.css}"/>
    <link type="text/css" rel="stylesheet" title="Clair" th:href="@{webjars/water.css/out/light.min.css}"/>
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/webjars/org.webjars.npm/tocbot/4.25.0/dist/tocbot.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{tocbot-responsive.css}"/>
    <title>Recette de la confiture figues, noix, vanille</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Default-Style" content="Système"/>
</head>
<body>

<div id="theme-switcher"></div>

<nav id="toc" class="toc toc-right js-toc"></nav>

<article>
    <h1>Recette de la confiture figues, noix, vanille</h1>

    <img src="confiture.jpeg"
         alt="Image d'un pot de confiture de figue avec des figues fraîches découpées et disposées autour"/>

    <blockquote>
        <p>Probably one of the best jam I ever eat!</p>
        <footer>Sir Reginald Balister, Duc de Compton</footer>
    </blockquote>

    <h2 id="ingredients">Ingrédients</h2>
    <ul>
        <li>1kg de figues fraîches vertes ou rouges,</li>
        <li>200g de cerneaux de noix,</li>
        <li>1kg de sucre,</li>
        <li>1 gousse de vanille.</li>
    </ul>

    <h2 id="tools">Matériel</h2>
    <ul>
        <li>Une marmite en inox de contenance 3l avec un couvercle,</li>
        <li>Une cuillère en bois,</li>
        <li>8 pots de confiture vides de contenance 500ml bien propres,</li>
        <li>Un entonnoir à confiture,</li>
        <li>Une louche,</li>
        <li>Un torchon propre.</li>
    </ul>

    <h2 id="time">Temps de préparation</h2>
    <dl>
        <dt>Macération&nbsp;:</dt>
        <dd>24 heures</dd>
        <dt>Cuisson&nbsp;:</dt>
        <dd>1 heure</dd>
    </dl>

    <h2 id="steps">Préparation</h2>
    <ol>
        <li>Enlever la queue des figues et les couper en quart,</li>
        <li>Ajouter les cerneaux de noix,</li>
        <li>Fendre les gousses, grater la vanille des gousses et l'ajouter à la préparation,</li>
        <li>Ajouter la moitié du sucre,</li>
        <li>Laisser macérer 24h,</li>
        <li>Mettre sur le feu à feu vif en mélangeant continuellement,</li>
        <li>Quand le mélange bout, ajouter le reste du sucre,</li>
        <li>Quand le mélange bout de nouveau, la confiture est prête,</li>
        <li>Étaler un torchon sur un plan de travail pour pouvoir accueillir les pots,</li>
        <li>Laisser mijoter à feu réduit pendant le remplissage des pots,</li>
        <li>À l'aide de la louche et de l'entonnoir, verser la confiture dans les pots,</li>
        <li>Fermer les pots avec leur couvercle et les déposer immédiatement à l'envers sur le torchon,</li>
        <li>Une fois les pots refroidis, les étiqueter et les ranger.</li>
    </ol>

    <h2 id="tips">Astuces & conseils</h2>
    <ul>
        <li>On peut accélérer le temps de cuisson en utilisant du Vitpris,</li>
        <li>Maintenir la confiture en dans la marmite ébullition pendant le remplissage permet de prévenir l'apparition
            de moisissures dans les pots,
        </li>
        <li>Ne mettez pas de noix trop fraîches&nbsp;: elles ne parfumeraient pas suffisamment la confiture,</li>
        <li>Idéalement à déguster sur une tartine de pain grillé ou une brioche, préalablement tartinée de
            beurre&nbsp;!
        </li>
    </ul>
</article>

<script type="text/javascript" src="/webjars/stylesheet-switcher/3.0.0/public/dist/sss.js"></script>
<script type="text/javascript">
    const stylesheets = [
        {label: 'Thème Système', linkHrefContains: 'water'},
        {label: 'Thème Sombre', linkHrefContains: 'dark'},
        {label: 'Thème Clair', linkHrefContains: 'light'}
    ];
    new StylesheetSwitcher({
        target: document.querySelector('#theme-switcher'),
        props: {
            label: 'Thème :',
            stylesheets,
        },
    });
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/webjars/org.webjars.npm/tocbot/4.25.0/dist/tocbot.min.js"></script>
<script type="text/javascript">
    tocbot.init({
        tocSelector: '#toc',
        contentSelector: 'article',
        headingSelector: 'h2',
        positionFixedSelector: '#toc',
        includeHtml: true,
        includeTitleTags: false,
        hasInnerContainers: true,
        headingsOffset: 40,
        scrollSmoothOffset: -40
    });
</script>
</body>
</html>